In [27]:
# Import the required modules
import pandas as pd
from pathlib import Path

# Import credentials string for PostgreSQL database access
from config import credentials

# Library and methods to connect and interact with database
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import sessionmaker

## Load and Store Heart dataset into PostgreSQL Database

In [28]:
# Read the usage_stats.csv file from the Resources folder into a Pandas DataFrame
heart_df = pd.read_csv(
    Path("Resources/heart_old.csv")
)

# Review the DataFrame
display(heart_df.head())
display(heart_df.tail())

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [29]:
 # CONNECT TO POSTGRESQL DATABASE

# create connection string for accessing PostgreSQL database
conn_string = f"postgresql://{credentials}@localhost:5432/heart_db"

In [30]:
# Create sqlalchemy engine using connection string
engine = create_engine(conn_string)
conn = engine.connect()

In [31]:
# Create and bind sqlalchemy table objects 

table_name1 = 'heart_dataset'

metadata = sqlalchemy.schema.MetaData(bind=engine)

table1 = sqlalchemy.Table(table_name1, metadata, autoload=True)

In [32]:
# start session
Session = sessionmaker(bind=engine)

In [33]:
#Table 1
# Bulk Insert the dataframe into the database table

with Session() as session:
    heart_df.to_sql(table_name1, con=conn, if_exists='append', index=False)

In [34]:
# Commit the changes
session.commit()

# close session
session.close()

# close connection
conn.close()